<!DOCTYPE html>
<html lang="en">
<!-- lang="en" คือการกำหนดภาษาหลักให้กับเว็บไซต์ -->
<head>
    <meta charset="UTF-8">
    <title>CMM 19</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/home.css"> 
</head>
 <body>
 	<header>
 		<div class="has-text-centered">
 		<img src="\assets\images\logo.png" alt="" width="145"
 		height="auto">
 	    </div>
 	        <nav class="navbar-tabs">
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    </nav>
 	</header>
 	<main>
 		<section class="banner">
 			<div class="highlight">
 				<div class="columns">
 				<div class="column highlight-item">
 					<h1> S P U O C G </h1>
 					 				 
 				</div>
 		        </div>
 		    </div>
 			
 			<div class="thumbnail">
 				<div class="columns is-marginless">
 				<div class="column thumbnail-item is-paddingless" 
 				style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
 				<h1>อุอุ</h1>
 				</div>
 				<div class="column thumbnail-item is-paddingless" 
 				style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
 				<h1>อุอุ</h1>
 				</div>
 				<div class="column thumbnail-item is-paddingless" 
 				style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
 				<h1>อุอุ</h1>
 				</div>
 				<div class="column thumbnail-item is-paddingless" 
 				style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);">
 				<h1>อุอุ</h1>
 				</div>
 				</div>
 			</div>
 		</section>
 		<section class="section we-preset">
		<div class="container">
			<div class="columns">
				<div class="column has-text-left">
					<a href="#">LASTET</a>
				</div>
				<div class="column has-text-centered">
					WE PRESENT
				</div>
				<div class="column has-text-right">
					<a href="#">SEARCH</a>
				</div>
			</div>

			<div class="columns is-multiline">
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
							หัวข้อวววววววววววววววววว
						</h3>
							<h4 class="subtitle is-6">
								ซับไตเติ้ล
							</h4>
							<p>
								คำโปรยวิ้วๆววววววววว
							</p>
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-2">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
							Lorem ipsum dolor sit amet.
						</h3>
							<h4 class="subtitle is-6">
								เรื่อง อุอุ
							</h4>
							<p>
								เนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจัง
							</p>
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
							หัวข้อววววววววว
						</h3>
							<h4 class="subtitle is-6">
								เรื่องราวววววววววววว
							</h4>
							<p>
								เนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจัง
							</p>
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-4">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
							หัวข้อววววววววว
						</h3>
							<h4 class="subtitle is-6">
								เรื่องราวววววววววววว
							</h4>
							<p>
								เนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจัง
							</p>
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-5">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
							หัวข้อววววววววว
						</h3>
							<h4 class="subtitle is-6">
								เรื่องราวววววววววววว
							</h4>
							<p>
								เนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจัง
							</p>
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-6">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
							หัวข้อววววววววว
						</h3>
							<h4 class="subtitle is-6">
								เรื่องราวววววววววววว
							</h4>
							<p>
								เนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจังเนมัมโซเกชอจัง
							</p>
						</div>
					</div>
				</a>
		</div>
	</div>
		</section>
 	</main>
 </body>
 </html>