<header>
 		<div class="has-text-centered">
 		<img src="\assets\images\logo.png" alt="" width="145"
 		height="auto">
 	    </div>
 	        <nav class="navbar-tabs">
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    	<a href="#" class="navbar-item">WORK</a>
 	    </nav>
 	</header>